html, body {
    width: 100%;
    margin: 0;
}

body {
    font-family: 'Outfit', 'Young Serif', sans-serif;
    min-height: 100vh;
    background-color: hsl(30, 54%, 90%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

*, *::before, *::after {
  box-sizing: border-box;
}

hr {
    border: none;
    height: 0.0625rem; /* 1px */
    background-color: #ccc;
    width: 100%;
    margin-top: 0.9375rem; /* 15px */
}

.card {
    width: 28.125rem;          /* 450px */
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.9375rem;  /* 15px */
    display: flex;
    flex-direction: column;
    color: hsl(30, 10%, 34%);
    padding: 1.5625rem;        /* 25px */
}

img {
    width: 100%;
    border-radius: 0.625rem;   /* 10px */
}

h1 {
    font-family: 'Young Serif';
    font-weight: 400;
    font-size: 1.5625rem;       /* 25px */
    margin-bottom: 0.8rem;
    color: hsl(24, 5%, 18%);
}

.about {
    font-size: 0.7rem;        /* 11.2px */
}

.preparation {
    background-color: hsl(330, 100%, 98%);
    padding-left: 1.25rem;     /* 20px */
    border-radius: 0.75rem;    /* 12px */
    margin-top: 1rem;
    font-size: 0.8125rem;      /* 13px */
    padding-bottom: 0.625rem;  /* 10px */
}

.preparation h4 {
    font-family: 'Outfit';
    font-weight: 600;
    font-size: 1.125rem;       /* 18px */
    margin-bottom: 0;
    margin-top: 0.9375rem;     /* 15px */
    color: hsl(332, 51%, 32%);
}

.preparation ul li::marker {
    color: hsl(332, 51%, 32%);
    font-weight: bold;
}

.preparation ul {
    padding-left: 1rem;
    line-height: 1;
}

.preparation ul li {
    text-align: left;
    margin-bottom: 0.875rem;   /* 14px */
    text-indent: 0.875rem;     /* 14px */
}

.ingredients {
    font-size: 0.7rem;      /* 11.2px */
}

ul li::marker, ol li::marker, table td b {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

.ingredients h2 {
    font-family: 'Young Serif';
    font-weight: 400;
    font-size: 1.4375rem;      /* 23px */
    color: hsl(14, 45%, 36%);
    margin-bottom: 0;
}

.ingredients ul {
    padding-left: 1.25rem;     /* 20px */
}

.ingredients ul li {
    margin-bottom: 0.625rem;   /* 10px */
    padding-left: 0.625rem;     /* 10px */
}

.instructions h2 {
    font-family: 'Young Serif';
    font-weight: 400;
    font-size: 1.4375rem;      /* 23px */
    color: hsl(14, 45%, 36%);
    margin-bottom: 0;
}

.instructions ol {
    font-family: 'Outfit';
    font-weight: 400;
    padding-left: 1.25rem;     /* 20px */
    font-size: 0.7rem;        /* 11.2px */
    line-height: 1.5;
}

.instructions ol li {
    margin-bottom: 0.625rem;   /* 10px */
    padding-left: 0.625rem;    /* 10px */
}

.nutrition {
    font-size: 0.7rem;      /* 11.2px */
    margin-top: 1rem;
}

.nutrition h2 {
    font-family: 'Young Serif';
    font-weight: 400;
    font-size: 1.4375rem;      /* 23px */
    margin-top: 0;
    margin-bottom: 0;
    color: hsl(14, 45%, 36%);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 0.8125rem;      /* 13px */
}

thead td, tbody td {
    padding: 0.75rem;          /* 12px */
    border-bottom: 0.0625rem solid #ccc; /* 1px */
    text-align: left;
}

tfoot td {
    padding: 0.75rem;          /* 12px */
    padding-bottom: 0;
    border: none;
    text-align: left;
}

.attribution { 
    font-size: 0.6875rem;      /* 11px */
    text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
}

@media (max-width: 600px) {
  .card {
    width: 95%;
    padding: 1rem;
  }

  img {
    border-radius: 0.5rem;
  }

  .preparation, .ingredients, .instructions, .nutrition {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}
